.header-menu-dropdown {
  width: 100%;
  padding-top: 9.6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  background: linear-gradient(180deg, #020203 0%, rgba(14, 17, 23, 0.92) 96.35%, rgba(14, 17, 23, 0.9) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(12px);  

  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  transition: all .3s;
  .main-menu {      
    position: relative;
    padding-top: 3.8rem;
    padding-bottom: 5.5rem; 
    .container {
      ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2.8rem 3.2rem;
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 17.6rem;
            height: 17.6rem;
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              width: 6.94rem;
              height: 6.94rem;

              margin-bottom: 0.86rem;
            }
            span {
              display: block;

              width: 10.5rem;

              font-family: 'Inter', sans-serif;
              font-weight: 500;
              font-size: 1.4rem;
              line-height: 120%;
              text-align: center;
              color: #9D9D9D;
            }
          }
        }
      }
    }    
    .js-close-sports-menu {
      position: absolute;
      top: 2rem;
      right: 2rem;
      transition: all .1s;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 7rem;

    background: rgba(21, 23, 27, .7);
    ul {
      display: flex;
      align-items: center;
      gap: 6.4rem;
      li {
        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          span {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-align: center;
            color: #FFFFFF;
            
          }
        }
      }
    }
  }
  &.active {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
  }
  &.esportes {   
    .main-menu {
      .container {
        ul {          
          grid-template-columns: repeat(5, 1fr);
          li {
            display: flex;
            justify-content: center;
            a {
              width: 17.6rem;
              height: 23.7rem;
              .icon {
                width: 17.4rem;
                height: 17.9rem;
                
                margin-bottom: 2.3rem;
              }
              span {
                width: 17.5rem;
              }
            }
          }
        }
      }
    }
  }
}
@media(max-width: 1000px) {
  .header-menu-dropdown {
    .main-menu {
      .container {
        ul {    
          grid-template-columns: repeat(4, 1fr);
          li {
            a {
              width: auto;
            }
          }
        }
      }
    }
  }
  
  .header-menu-dropdown.esportes {
    .main-menu {
      .container {
        ul {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
@media(max-width: 900px) {
  .header-menu-dropdown {
    padding: 0;
  }
  .header-menu-dropdown.esportes {
    padding: 0;
    height: 100vh;
    .main-menu {
      .container {
        ul {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}
@media(max-width: 800px) {
  .header-menu-dropdown {
    .footer-menu {
      height: auto;
      padding: 3rem 0;
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 3rem;
        width: 100%;
        li {
          width: 20rem;
        }
      }
    }
  }
  .header-menu-dropdown.esportes {
    .main-menu {
      padding: 0;
      .container {
        margin: 0;
        padding-bottom: 2rem;
        ul {
          gap: 0;
          li {
            a {
              .icon {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .footer-menu {
      background: #15171B;
    }
  }
}
@media(max-width: 480px) {
  .header-menu-dropdown {
    padding: 0;
    .main-menu {
      .container {
        ul {
          grid-template-columns: repeat(2, 1fr);
          li {
            a {
              height: auto;
            }
          }
        }
      }
    }
    .footer-menu {
      ul {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
      }
    }
  }
  .header-menu-dropdown.esportes {
    .main-menu {
      .container {
        background: black;
        ul {        
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}