.header-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border-bottom: 0.15rem solid rgba(255, 255, 255, 0.2);
  z-index: 100;
  background: black;
  transition: all .3s;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    padding: 2rem 0;
    gap: 5rem;
    .left-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      .logo {
        position: relative;
        margin-bottom: 5rem;
        img {
          max-width: unset;
        }
      }
      nav {
        ul {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 3rem;
          li {
            a {
              display: flex;
              align-items: center;
              font-weight: 700;
              font-size: 2.4rem;
              line-height: 2.1rem;
              color: $white;
              img {
                margin-left: 1.4rem;
                transition: transform .3s;
              }
              &.active {
                color: $primary-default;
                font-weight: 700;
                img {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }
    .right-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      .btn-outline, .btn-primary {
        width: 21rem;
        justify-content: center;
      }
      .js-closed-modal-mobile-menu {
        position: absolute;
        top: 5rem;
        right: 5rem;
      }
    }
  }
}
.show-modal-mobile-menu {
    .header-mobile {
      display: flex;    
  }
}
@media(max-width:800px) {
  .header-mobile {
    .container {
      width: 100vw;
      height: 100vh;
    }
  }
}
@media(max-width:480px) {
  .header-mobile {
    .container {
      .right-container {
        .js-closed-modal-mobile-menu {
          top: 2rem;
          right: 2rem;
        }
      }
    }
  }
}