.s-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2023;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 69.9rem;
      height: 60rem;
      background: url(../img/backgrounds/bg-modal.png) no-repeat #020203 top
        left;
      background-size: cover;
      border-radius: 0.4rem;
      transform: translateY(5rem);
      transition: transform 0.3s;
      .closed {
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background: #fff;
          border-radius: 0.4rem;
        }
      }
      .logo {
        width: 16.6rem;
        margin-bottom: 4rem;
      }
      form {
        width: 100%;
        max-width: 42.6rem;
        .form-group {
          margin-bottom: 1.6rem;
          input[type="text"],
          input[type="password"] {
            width: 100%;
            height: 4.8rem;
            border-radius: 0.4rem;
            border: none;
            padding: 0 1.6rem;
            font-weight: 500;
            font-size: 1.5rem;
            color: #363842;
            &::placeholder {
              opacity: 0.6;
            }
          }
          &:nth-child(2) {
            margin-bottom: 2.4rem;
          }
        }
        button {
          width: 100%;
          justify-content: center;
          line-height: 5.2rem;
          font-weight: 600;
          font-size: 1.6rem;
        }
      }
      .others-connect {
        margin-bottom: 3.5rem;
        p {
          text-align: center;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: $white;
          margin-bottom: 1.6rem;
        }
        ul {
          display: flex;
          li {
            &:not(:first-child) {
              margin-left: 1.6rem;
            }
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 4.8rem;
              height: 4.8rem;
              background: $white;
              border-radius: 0.4rem;
            }
          }
        }
      }
      .message-user {
        p {
          text-align: center;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: $white;
          margin-bottom: 1.6rem;
          a {
            display: inline-block;
          }
        }
        a {
          display: block;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.4rem;
          text-decoration: underline;
          color: #00aeff;
          text-align: center;
          transition: all 0.3s;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}
.show-modal {
  .s-modal {
    opacity: 1;
    pointer-events: all;
    .box {
      transform: translateY(0rem);
    }
  }
}
