.s-hero {
  position: relative;
  z-index: 2;
  .slide-principal {
    width: 100%;
    height: 73.6rem;
    .swiper-wrapper {
      .swiper-slide {
        padding-top: 20.7rem;
        background-size: cover !important;
        &.slide-01 {
          background: url("../img/banners/banner-slide-01.jpg") no-repeat center
            center;
        }
        &.slide-02 {
          background: url("../img/banners/banner-slide-02.jpg") no-repeat center
            center;
        }
        &.slide-03 {
          background: url("../img/banners/banner-slide-03.jpg") no-repeat center
            center;
        }
        .container {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          .left-content {
            margin-left: 19.8rem;
            width: 100%;
            max-width: 62.6rem;
            h2 {
              font-weight: bold;
              font-size: 6.4rem;
              line-height: 110.2%;
              color: $white;
              margin-bottom: 1.6rem;
            }
            p {
              font-size: 1.8rem;
              line-height: 2.7rem;
              letter-spacing: -0.005em;
              color: $white;
              margin-bottom: 3.2rem;
            }
            .btn {
              padding: 0 3.8rem;
              line-height: 5.2rem;
            }
          }
          .right-content {
            width: 100%;
            max-width: 29.2rem;
            margin-top: -3.4rem;
            .logo {
              width: 100%;
              max-width: 28rem;
              height: 18rem;
              display: flex;
              align-items: center;
              justify-items: center;
              margin-bottom: 8.6rem;
            }
            .video {
              width: 100%;
              max-width: 28rem;
              span {
                display: block;
                font-weight: 600;
                font-size: 1.3rem;
                line-height: 1.9rem;
                text-align: right;
                text-transform: uppercase;
                color: $white;
                margin-bottom: 1.6rem;
              }
              .btn-video {
                position: relative;
                width: 100%;
                height: 15.8rem;
                border-radius: 0.4rem;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                .thumb {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  transition: opacity 0.3s;
                  &.default {
                    opacity: 1;
                  }
                  &.hover {
                    opacity: 0;
                  }
                  &:hover {
                    &.default {
                      opacity: 0;
                    }
                    &.hover {
                      opacity: 1;
                    }
                  }
                }
                .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  z-index: 1;
                  width: 5.1rem;
                  height: 5.1rem;
                  background: linear-gradient(
                    136.72deg,
                    rgba(7, 7, 10, 0.86) 19.22%,
                    rgba(15, 16, 22, 0.5) 76.59%
                  );
                  backdrop-filter: blur(3px);
                  border-radius: 50%;
                }
                &:hover {
                  .icon {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .slide-thumbnail {
    position: absolute;
    top: 24.1rem;
    left: 18%;
    z-index: 2;
    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        cursor: pointer;
        opacity: 0.4;
        filter: grayscale(100%);
        &.disabled {
          pointer-events: none;
        }
        &-thumb-active {
          opacity: 1;
          filter: grayscale(0%);
        }
      }
    }
  }
  .swiper-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 3;
    .slide-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: 0.3rem;
      opacity: 0;
      display: block;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: $primary-default;
        width: 0;
        height: 100%;
        transition: width 0.1s linear;
      }
    }
    &.active {
      .slide-progress-bar {
        opacity: 1;
      }
          }
    &.animate {
      .slide-progress-bar {
        &::after {
          width: 100%;
          transition: width 5s linear;
        }
      }
    }
  }
}
@media(max-width: 1540px) {
  .s-hero {
    .slide-thumbnail {
      left: 10%;
    }
  }
}
@media(max-width: 1440px) {
  .s-hero {
    .slide-thumbnail {
      left: 7%;
    }
  }
}
@media(max-width: 1366px) {
  .s-hero {
    .slide-thumbnail {
      left: 5%;
    }
  }
}
@media(max-width: 1280px) {
  .s-hero {
    .slide-thumbnail {
      left: 3%;
    }
  }
}
@media(max-width:1200px) {
  .s-hero {
    .slide-thumbnail {
      left: 1%;
    }
  }
}
@media(max-width:1100px) {
  .s-hero {
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          .container {
            .left-content {
              margin-left: 0;
              h2 {
                font-size: 6.4rem;
              }
            }
            .right-content {
              position: absolute;
              right: 0;
            }
          }
        }
      }
    }
    .slide-thumbnail {
      left: 1.5rem;
      top: initial;
      bottom: 10.5rem;
      height: 4.8rem;
    }
  }
}
@media(max-width:800px) {
  .s-hero {
    height: 100vh;
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          padding-top: 14rem;
          width: 100vw;
          .container {
            .left-content {
              max-width: 40.5rem;
              h2 {
                font-size: 4rem;
              }
            }
            .right-content {
              height: calc(100vh - 13rem);
              justify-content: space-between;
              display: flex;
              flex-direction: column;
              .logo {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media(max-width:600px) {
  .s-hero {
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          padding-top: 28rem;
          &.slide-01 {
            background-size: cover;
            height: 100vh;
          }
          &.slide-02 {
            background-position-x: -100rem;
            background-size: cover;
            height: 100vh;
          }
          &.slide-03 {
            background-position-x: -100rem;
            background-size: cover;
            height: 100vh;
          }
          .container {
            .right-content {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media(max-width:480px) {
  .s-hero {
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          padding-top: 22rem;
          &.slide-02 {
            background-position-x: -100rem;
          }
          &.slide-03 {
            background-position-x: -100rem;
          }
        }
      }
    }
  }
}
@media(max-width:430px) {
  .s-hero {
    .slide-principal {      
      .swiper-wrapper {
        .swiper-slide {
          padding-top: 32rem;
          .container {            
            .left-content {
              h2 {
                font-size: 3rem;
              }
            }
          }
        }
      }
    }
    .slide-thumbnail {
      bottom: 2.5rem;
      .swiper-wrapper {
        .swiper-slide {
          width: 4rem !important;
          height: 4rem;
          margin-right: 2rem;
        }
      }
    }
  }
}
@media(max-width:375px) {
  .s-hero {
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          .container {
            position: absolute;
            bottom: 18rem;
          }
        }
      }
    }
      
    .slide-thumbnail {
      display: none;
    }
  }
}
