.btn {
  display: inline-flex;
  align-items: center;
  padding: 0 1.6rem;
  line-height: 4.1rem;
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: $white;
  border: 1px solid transparent;
  transition: all 0.3s;
  img {
    margin-right: 0.8rem;
  }
  &-primary {
    background-color: $primary-default;
    border-color: $primary-default;
    &:hover {
      background-color: $primary-light;
    }
  }
  &-outline {
    border-color: $white;
    &:hover {
      color: $neutral-200;
      background-color: $white;
    }
  }
}


.icon-rocket {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 5000;
  width: 5rem;
  height: 5rem;
  background: #00aeff;
  padding: 1rem;
  border-radius: 50%;
  transition: all .3s;
  .one {
    display: block;
  }
  .two {
    display: none;
  }
  &:hover {
    background: #fff;
    .one {
      display: none;
    }
    .two {
      display: block;
    }
  }
}

@media(max-width:900px) {
  .icon-rocket {
    display: none;
  }
}