.btn {
  display: inline-flex;
  align-items: center;
  padding: 0 1.6rem;
  line-height: 4.1rem;
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: $white;
  border: 1px solid transparent;
  transition: all 0.3s;
  img {
    margin-right: 0.8rem;
  }
  &-primary {
    background-color: $primary-default;
    border-color: $primary-default;
    &:hover {
      background-color: $primary-light;
    }
  }
  &-outline {
    border-color: $white;
    &:hover {
      color: $neutral-200;
      background-color: $white;
    }
  }
}