* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: $white;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
body {
  background-color: $neutral-100;
}
