//Primary Palette
$primary-darkest: #002550;
$primary-dark: #025a9a;
$primary-default: #00aeff;
$primary-light: #61cdff;

//Neutral Colors
$black: #000;
$neutral-100: #020203;
$neutral-200: #0b0d12;
$neutral-300: #15171b;
$neutral-400: #1f2025;
$neutral-410: #212428;
$neutral-500: #26272e;
$neutral-600: #2d2f38;
$neutral-700: #363842;
$neutral-710: #8f9199;
$neutral-800: #e5e5e5;
$white: #fff;
