@import 'variables';
@import 'reset';
@import 'container';
@import 'animations';
@import 'patterns';
@import 'header';
@import 'home-s-hero';
@import 'home-s-games';
@import 'home-s-download';
@import 'home-s-modal';